* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  background-color: #E04900;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-div {
  border-radius: 20px;
  background-color: #F7A439;
  height: 50%;
  min-width: 20rem;
  margin: 5px;
}
@media screen and (max-width: 500px) {
  .calc-div {
    width: 30rem;
    margin: 5px;
    height: 70%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .calc-div {
    width: 35rem;
    margin: 5px;
    height: 70%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .calc-div {
    width: 40rem;
    margin: 5px;
    height: 70%;
  }
}
@media screen and (min-width: 1001px) {
  .calc-div {
    height: 60%;
    width: 40rem;
    margin: 5px;
  }
}

.display {
  background-color: #635252;
  height: 20%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  height: 60%;
  width: 80%;
  border-radius: 20px;
  background-color: #F8C782;
  text-align: right;
  padding: 0.5rem;
  font-size: 30px;
}

.calculate-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #F7A439;
  height: 80%;
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
  color: white;
  background-color: #F48C1B;
  margin: 5px;
  border-style: none;
  box-shadow: black 0.1px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}
.btn__operators {
  background-color: #D5D6D6;
  color: black;
}
.btn__operators--span-two {
  grid-column: span 2;
}
