* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  background-color: orangered;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-div {
  box-shadow: 20px 20px 0 20px brown;
  border-radius: 20px;
  background-color: orange;
  height: 50%;
  width: 400px;
  margin: 5px;
}
@media screen and (max-width: 500px) {
  .calc-div {
    width: 300px;
    margin: 5px;
    height: 40%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .calc-div {
    width: 400px;
    margin: 5px;
    height: 50%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .calc-div {
    width: 400px;
    margin: 5px;
    height: 50%;
  }
}
@media screen and (min-width: 1001px) {
  .calc-div {
    height: 50%;
    width: 500px;
    margin: 5px;
  }
}

.display {
  background-color: #7a5e5e;
  height: 20%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  height: 60%;
  width: 80%;
  border-radius: 20px;
  background-color: #f1b139;
  text-align: right;
  padding: 0.5rem;
  font-size: 40px;
}

.calculate-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: orange;
  height: 80%;
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
  color: white;
  background-color: rgba(250, 137, 8, 0.842);
  margin: 5px;
  border-style: none;
  box-shadow: black 0.1px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
}
.btn__operators {
  background-color: white;
  color: black;
}
.btn__operators--span-two {
  grid-column: span 2;
}
