$primarytextcolor: black;
$secondarytextcolor: white;

$buttonbgprimary: #F48C1B;
$buttonbgsecondary: #D5D6D6;

$mainbackgroundcolor: #E04900;

$operatorebgcolor : #F7A439;

$resultbgcolor: #F8C782;

$displaybgcolor: #635252;