@use "pallette";
@use 'media';

$borderradius: 20px;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-div {
    background-color: pallette.$mainbackgroundcolor;
    // background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc-div {
    //box-shadow: 20px 20px 0 20px brown;
    border-radius: $borderradius;
    background-color: pallette.$operatorebgcolor;
    height: 50%;
    min-width: 20rem;
    margin: 5px;
   

    @include media.phone{
        width: 30rem;
        margin: 5px;
        height: 70%;
    }
    @include media.tablet{
        width: 35rem;
        margin: 5px;
        height: 70%;
    }
    @include media.laptop{
        width: 40rem;
        margin: 5px;
        height: 70%;
    }

    @include media.big-screen{
        height: 60%;
        width: 40rem;
        //width: 500px;
        margin: 5px;
    }
}
.display {
    background-color: pallette.$displaybgcolor;
    height: 20%;
    border-radius: $borderradius;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result {
    height: 60%;
    width: 80%;
    border-radius: $borderradius;
    background-color: pallette.$resultbgcolor;
    text-align: right;
    padding: 0.5rem;
    font-size: 30px;
}
.calculate-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: pallette.$operatorebgcolor;
    height: 80%;
    border-radius: $borderradius;
}
.btn {
    border-radius: $borderradius;
    color: pallette.$secondarytextcolor;
    background-color: pallette.$buttonbgprimary;
    margin: 5px;
    border-style: none;
    box-shadow: black 0.1px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;

    &__operators {
        background-color: pallette.$buttonbgsecondary;
        color: pallette.$primarytextcolor;

        &--span-two {
            grid-column: span 2;
        }
    }

   
}

